body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(https://denizcandinc.com/assets/img/header.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  overflow-x: hidden !important;
}
h1{
	font-size: 3rem;
	color: #e2dbdb;
}
hr{
	border-color:white;
	border-width: 3px;
	max-width: 65px;
}
.about-list{
  text-decoration: none;
  background-color: rgb(0,0,0,0.7);
  color: white;
  margin-top: 50px !important;
}
.cover{
  width: 10rem;
}
.buffer{
	height: 10rem;
}
.btn {
	font-weight:700;
	border-radius:300px;
	text-transform: uppercase;
	color: black;
}
.btn-primary{
	background-color: white;
	border-color: white;
}
.btn-primary:hover{
	background-color: gray;
	border-color:gray;
	border-width: 4px;
}
.btn-xl{
	padding:1rem 2rem;

}

body {
  margin: 0;
  padding: 0;
  color: #ccc;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

a:hover {
  color: #f36;
}


.offcanvas {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 9999;
  user-select: none;
}

.offcanvas .toggle {
  display: block;
  width: 33px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 99999;
}

.offcanvas span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ccc;
  border-radius: 3px;
  z-index: 9999;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

.offcanvas span:first-child {
  transform-origin: 0% 0%;
}

.offcanvas span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.offcanvas .toggle:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #22;
}

.offcanvas .toggle:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.offcanvas .toggle:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
  background: #f36;
  z-index: 999999;
}

.offcanvas__menu {
  position: absolute;
  width: 300px;
  height: 1080px;
  margin: -100px 0 0 -50px;
  padding: 125px 50px 50px;
  background: rgba(255, 255, 255, 0.3);
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  visibility: hidden;
  z-index: -1;

}
.offcanvas__menu-item {
  padding: 10px 0;
  font-size: 1.3rem;
}

.offcanvas .toggle:checked ~ ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .offcanvas .toggle:checked ~ ul {
    background: rgba(0, 0, 0, 0.8);
    color: white;
  }
  .cont{
    margin-top: 50px !important;
  }
  .indexBody{
  background-color: rgb(0,0,0,0.4);
}
}

@media screen and (min-width: 1200px) {
.indexHeader{
  margin-top: 30px;
   
}
.indexBody{
  background-color: rgb(0,0,0,0.2);
}
}

@media screen and (max-height: 568px) {
  .cont{
    margin-top: 50px !important;
  }
}

@media screen and (max-height: 360px) {
  .nav-bar-container{
    padding: left;
  }
 
}


#particles-js {
  position : absolute;
  width:100%;
  height: 90% !important;
  pointer-events: none !important;
}

.about-css-class ul {
  padding-inline-start: 5px !important;
}